<div class="h-3/5 flex items-center justify-center bg-transparent">
  <div class="flex bg-white shadow-md rounded p-8 mb-4 max-w-4xl bg-primary">
    <div class="hidden md:flex items-center justify-center mr-8">
      <img [src]="imageURL" alt="Sign Up Image" class="w-4/5 object-cover" />
    </div>
    <div>
      <h1 class="text-2xl font-bold mb-6">Sign Up</h1>
      <form class="space-y-4" [formGroup]="ContactForm" (ngSubmit)="onSubmit()">
        <div class="relative">
          <input
            formControlName="firstName"
            type="text"
            id="firstName"
            placeholder="Enter First Name"
            class="w-full pl-12 pr-4 py-2 border border-gray-300 rounded"
            required
          />
          <div
            class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="1em"
              height="1em"
              viewBox="0 0 48 48"
            >
              <g
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="4"
              >
                <circle cx="24" cy="11" r="7" fill="currentColor" />
                <path d="M4 41c0-8.837 8.059-16 18-16" />
                <path fill="currentColor" d="m31 42l10-10l-4-4l-10 10v4z" />
              </g>
            </svg>
          </div>
        </div>
        <div class="relative">
          <input
            formControlName="lastName"
            type="text"
            id="lastName"
            placeholder="Enter Last Name"
            class="w-full pl-12 pr-4 py-2 border border-gray-300 rounded"
            required
          />
          <div
            class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="1em"
              height="1em"
              viewBox="0 0 48 48"
            >
              <g
                fill="none"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="4"
              >
                <circle cx="24" cy="11" r="7" />
                <path
                  d="M4 41c0-8.837 8.059-16 18-16m9 17l10-10l-4-4l-10 10v4z"
                />
              </g>
            </svg>
          </div>
        </div>
        <div class="relative">
          <input
            formControlName="username"
            type="text"
            id="username"
            placeholder="Enter Username"
            class="w-full pl-10 pr-3 py-2 border border-gray-300 rounded"
            required
          />
          <div
            class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="1em"
              height="1em"
              viewBox="0 0 24 24"
            >
              <path
                fill="currentColor"
                d="M12 4a4 4 0 0 1 4 4a4 4 0 0 1-4 4a4 4 0 0 1-4-4a4 4 0 0 1 4-4m0 10c4.42 0 8 1.79 8 4v2H4v-2c0-2.21 3.58-4 8-4"
              />
            </svg>
          </div>
        </div>
        <div class="relative">
          <input
            formControlName="email"
            type="email"
            id="email"
            placeholder="Enter Email"
            class="w-full pl-10 pr-3 py-2 border border-gray-300 rounded"
            required
          />
          <div
            class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="1em"
              height="1em"
              viewBox="0 0 24 24"
            >
              <path
                fill="currentColor"
                d="M4 20q-.825 0-1.412-.587T2 18V6q0-.825.588-1.412T4 4h16q.825 0 1.413.588T22 6v12q0 .825-.587 1.413T20 20zm8-7L4 8v10h16V8zm0-2l8-5H4zM4 8V6v12z"
              />
            </svg>
          </div>
        </div>
        <div class="relative">
          <input
            formControlName="password"
            type="password"
            id="password"
            placeholder="Enter Password"
            class="w-full pl-10 pr-3 py-2 border border-gray-300 rounded"
            required
          />
          <div
            class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="1em"
              height="1em"
              viewBox="0 0 24 24"
            >
              <path
                fill="currentColor"
                d="M12 17a2 2 0 0 0 2-2a2 2 0 0 0-2-2a2 2 0 0 0-2 2a2 2 0 0 0 2 2m6-9a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V10a2 2 0 0 1 2-2h1V6a5 5 0 0 1 5-5a5 5 0 0 1 5 5v2zm-6-5a3 3 0 0 0-3 3v2h6V6a3 3 0 0 0-3-3"
              />
            </svg>
          </div>
        </div>
        <div class="relative">
          <input
            formControlName="confirmPassword"
            type="password"
            id="confirmPassword"
            placeholder="Confirm Password"
            class="w-full pl-10 pr-3 py-2 border border-gray-300 rounded"
            required
          />
          <div
            class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="1em"
              height="1em"
              viewBox="0 0 24 24"
            >
              <path
                fill="currentColor"
                d="M12 17a2 2 0 0 0 2-2a2 2 0 0 0-2-2a2 2 0 0 0-2 2a2 2 0 0 0 2 2m6-9a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V10a2 2 0 0 1 2-2h1V6a5 5 0 0 1 5-5a5 5 0 0 1 5 5v2zm-6-5a3 3 0 0 0-3 3v2h6V6a3 3 0 0 0-3-3"
              />
            </svg>
          </div>
        </div>
        <div class="relative">
          <input
            formControlName="dob"
            type="date"
            id="dob"
            placeholder="Enter Date of Birth"
            class="w-full pl-10 pr-3 py-2 border border-gray-300 rounded"
            required
          />
          <div
            class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="1em"
              height="1em"
              viewBox="0 0 24 24"
            >
              <path
                fill="currentColor"
                d="M19 19H5V8h14m-3-6h2v2h-2M6 2h2v2H6M5 5h14a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V7a2 2 0 0 1 2-2m12 8h-5v5h5"
              />
            </svg>
          </div>
        </div>
        <div class="flex items-center">
          <input
            formControlName="terms"
            type="checkbox"
            id="terms"
            class="mr-2"
            required
          />
          <label for="terms" class="text-sm">I agree to all terms</label>
        </div>
        <div class="flex items-center justify-between">
          <button
            type="submit"
            class="bg-secondary hover:bg-pink-700 text-primary font-bold py-2 px-4 rounded disabled:bg-secondaryDisabled"
          >
            Register
          </button>
        </div>
        <p class="text-sm mt-4">Already have an account?</p>

        <a routerLink="/signIn" routerLinkActive="active" class="text-link"
          >Sign In</a
        >
      </form>
    </div>
  </div>
</div>
