@tailwind base;
@tailwind components;
@tailwind utilities;

.background-container {
  background-image: url("./assets/images/background.png");
  background-size: cover; /* Assicura che l'immagine copra l'intero contenitore */
  background-position: center; /* Centra l'immagine */
  background-repeat: no-repeat; /* Evita che l'immagine si ripeta */
  height: 100vh; /* Imposta l'altezza del contenitore a 100% dell'altezza della viewport */
  width: 100%; /* Imposta la larghezza del contenitore a 100% */
  display: flex; /* Usato per centrare il contenuto all'interno del contenitore */
  align-items: center; /* Centra verticalmente il contenuto */
  justify-content: center; /* Centra orizzontalmente il contenuto */
}
